:root {
	--color--gray--lightest: #eee;
	--color--gray--lighter: #ccc;
	--color--gray--light: #aaa;
	--color--gray--medium: #888;
	--color--gray--dark: #666;
	--color--gray--darker: #444;
	--color--gray--darkest: #222;
	--color--green: #5c5;
	--color--red: #f55;
	--color--blue--1: #112;
	--color--blue--2: #223;
	--color--blue--3: #334;
	--color--blue--4: #445;
	--color--blue--5: #556;
	--color--blue--6: #667;
	--color--blue--7: #778;
	--color--blue--8: #889;
	--color--blue--9: #99a;
	--color--blue--a: #aab;
	--color--blue--b: #bbc;
	--color--blue--c: #ccd;
	--color--blue--d: #dde;
	--color--blue--e: #eef;

	--color--accent: var(--color--red);
	--link--color: var(--color--red);

	--color--background: var(--color--gray--darkest);
	--color--text: var(--color--gray--lightest);
	--color--command-status: var(--color--red);
	--board-color: #fff;

	--color--invalid: var(--color--red);
	--color--valid: var(--color--green);
}
