@import './normalize.css';
@import './color.css';
@import './typography.css';
@import './animation.css';
@import './utility.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:focus-visible,
a:active,
a:visited {
	color: var(--link--color);
	text-decoration: none;
}

:root {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	font-family: var(--font-family--default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color--background);
	color: var(--color--text);
}

.vid-underwater {
	position: absolute;
	inset: 0;
	min-width: 100%;
	min-height: 100%;
	filter: hue-rotate(25deg) saturate(0.5);
	z-index: -1;
}

.btn-start {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 24px;
	font-size: 24px;
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.board {
	position: absolute;
	height: 60vh;
	width: 60vh;
	bottom: 2vh;
	left: 2vh;
	opacity: 1;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-bottom: 1px solid var(--board-color);
	border-right: 1px solid var(--board-color);
}

.board-cell {
	display: grid;
	place-items: center;
	color: var(--board-color);
	border-top: 1px solid var(--board-color);
	border-left: 1px solid var(--board-color);
}

.my-sub {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--color--red);
}

.img-angles-wheel {
	position: absolute;
	height: 70vh;
	bottom: 2vh;
	right: 2vh;
	filter: invert(1);
	opacity: 1;
	z-index: -1;
	transition: all 5s ease-in-out;
}
.img-course-wheel--course {
	transform: scale(1) rotateZ(0deg);
}
.img-bearing-wheel--bearing {
	transform: scale(0.8) rotateZ(0deg);
}

.img-sub-top {
	position: absolute;
	height: 70vh;
	bottom: 2vh;
	right: 33vh;
	opacity: 1;
	z-index: -1;
	transform: scale(0.4) rotateZ(0deg);
	transition: all 5s ease-in-out;
}

.game-main {
	position: relative;
	height: 100%;
	overflow: hidden;
	place-content: center;
}

.inp-command {
	width: 332px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--color--gray--light);
	background-color: transparent;
	padding: 8px 0;
	font-size: 64px;
	text-transform: uppercase;
	user-select: none;
	color: var(--color--red);
}

.lbl-command {
	position: relative;
	top: 4px;
	font-size: 16px;
	color: var(--color--gray--light);
}
