@import './normalize.css';
@import './color.css';
@import './typography.css';
@import './animation.css';
@import './utility.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:focus-visible,
a:active,
a:visited {
	text-decoration: none;
}

:root {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	font-family: var(--font-family--default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color--background);
	color: var(--color--text);
}

.vid-underwater {
	position: absolute;
	inset: 0;
	min-width: 100%;
	min-height: 100%;
	filter: hue-rotate(25deg) saturate(0.5);
	z-index: -1;
}

.btn-start {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 24px;
	font-size: 24px;
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.wrapper {
	height: 100%;
	overflow: hidden;
	place-content: center;
}
.main {
	width: 1280px;
	height: 800px;
	border: 1px solid #fff;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 16px;
}

.pane-left {
	position: relative;
	display: grid;
	place-content: space-around;
}

.wheel {
	width: 360px;
	height: 360px;
	position: relative;
}
.img-wheel {
	width: 100%;
	height: 100%;
	filter: invert(1);
	transform: rotate(0deg);
	transition: all 2s linear;
	user-select: none;
}
.pn-sub {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	transform: rotate(0deg);
	transition: all 2s linear;
}
.side-port {
	position: absolute;
	inset: 0 50% 0 0;
	background-color: red;
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	opacity: 0.1;
}
.side-starboard {
	position: absolute;
	inset: 0 0 0 50%;
	background-color: lime;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	opacity: 0.1;
}
.img-angles-wheel--bearing {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: invert(1);
}
.img-sub {
	position: absolute;
	height: 75%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	user-select: none;
}

.pane-center {
	position: relative;
	display: grid;
	place-items: center;
}

.command-pane {
	place-content: center;
}

.inp-command {
	width: 20vw;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--color--gray--light);
	background-color: transparent;
	padding: 8px 0;
	font-size: 64px;
	text-transform: uppercase;
	user-select: none;
}
.inp-command.empty {
	color: var(--color--gray--lightest);
}
.inp-command.invalid {
	color: var(--color--invalid);
}
.inp-command.valid {
	color: var(--color--valid);
}
.lbl-command {
	position: relative;
	top: 4px;
	font-size: 16px;
	color: var(--color--gray--light);
	user-select: none;
}

.board-container {
	--board-gutter-width: 40px;
	position: relative;
	height: 400px;
	width: 400px;
	padding: var(--board-gutter-width);
}
.board {
	position: relative;
	height: 100%;
	opacity: 1;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-bottom: 1px dashed var(--board-color);
	border-right: 1px dashed var(--board-color);
}
.board-gutters {
	position: absolute;
	inset: var(--board-gutter-width);
}
.board-gutter {
	position: absolute;
	display: grid;
	user-select: none;
}
.board-gutter:nth-child(1) {
	inset: calc(-1 * var(--board-gutter-width)) 0 auto 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(2) {
	inset: 0 calc(-1 * var(--board-gutter-width)) 0 auto;
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter:nth-child(3) {
	inset: auto 0 calc(-1 * var(--board-gutter-width)) 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(4) {
	inset: 0 auto 0 calc(-1 * var(--board-gutter-width));
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter-label {
	margin: auto;
	font-size: 16px;
	color: #fff;
	user-select: none;
}
.board-cell {
	display: grid;
	place-items: center;
	color: var(--board-color);
	border-top: 1px dashed var(--board-color);
	border-left: 1px dashed var(--board-color);
	font-size: 0;
	user-select: none;
}
.board-marker-my-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px);
}
.board-marker-enemy-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px) rotate(45deg);
}

.pane-right {
	position: relative;
	display: grid;
	place-content: space-around;
}

.info-pane {
	display: grid;
	grid-template-columns: auto 100px;
	gap: 4px;
}
.info-label {
	color: lime;
	padding: 4px 6px;
}
.info-data {
	background-color: #000;
	color: lime;
	padding: 4px 6px;
}
