@import './normalize.css';
@import './color.css';
@import './typography.css';
@import './animation.css';
@import './utility.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:focus-visible,
a:active,
a:visited {
	color: var(--link--color);
	text-decoration: none;
}

:root {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	font-family: var(--font-family--default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color--background);
	color: var(--color--text);
}

.vid-underwater {
	position: absolute;
	inset: 0;
	min-width: 100%;
	min-height: 100%;
	filter: hue-rotate(25deg) saturate(0.5);
	z-index: -1;
}

.btn-start {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 24px;
	font-size: 24px;
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.img-angle-wheel {
	position: absolute;
	height: 96vh;
	top: 2vh;
	right: 2vh;
	opacity: 0.1;
	filter: invert(1);
	z-index: -1;
}

.game-main {
	position: relative;
	height: 100%;
	overflow: hidden;
	display: grid;
	place-content: center;
}

.inp-command {
	width: 334px;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 16px 24px;
	font-size: 80px;
	text-transform: uppercase;
	user-select: none;
	color: var(--color--red);
}
