.pane-center {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;
	gap: 40px;
}

.board-container {
	--board-gutter-width: 40px;
	position: relative;
	height: 500px;
	width: 500px;
	padding: var(--board-gutter-width);
}
.board {
	--color--board: var(--color--gray--medium);
	position: relative;
	height: 100%;
	opacity: 1;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-bottom: 1px dashed var(--color--board);
	border-right: 1px dashed var(--color--board);
}
.board-gutters {
	position: absolute;
	inset: var(--board-gutter-width);
}
.board-gutter {
	position: absolute;
	display: grid;
	user-select: none;
}
.board-gutter:nth-child(1) {
	inset: calc(-1 * var(--board-gutter-width)) 0 auto 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(2) {
	inset: 0 calc(-1 * var(--board-gutter-width)) 0 auto;
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter:nth-child(3) {
	inset: auto 0 calc(-1 * var(--board-gutter-width)) 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(4) {
	inset: 0 auto 0 calc(-1 * var(--board-gutter-width));
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter-label {
	margin: auto;
	font-size: 16px;
	color: #fff;
	user-select: none;
}
.board-cell {
	display: grid;
	place-items: center;
	color: var(--color--board);
	border-top: 1px dashed var(--color--board);
	border-left: 1px dashed var(--color--board);
	font-size: 0;
	user-select: none;
}
.board-marker-my-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px);
}
.board-marker-enemy-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px) rotate(45deg);
}

.depth-gauge-pane {
}
.depth-gauge {
	position: relative;
	height: 420px;
	width: 8px;
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 12px;
}
.depth-gauge-0-400,
.depth-gauge-400-800,
.depth-gauge-800-1200,
.depth-gauge-1200-1600,
.depth-gauge-1600-1700 {
	position: relative;
	flex: 400 0 0;
}
.depth-gauge-0-400::after,
.depth-gauge-400-800::after,
.depth-gauge-800-1200::after,
.depth-gauge-1200-1600::after,
.depth-gauge-1600-1700::after {
	content: attr(data-depth);
	position: absolute;
	right: 10px;
	top: -6px;
	width: max-content;
	font-size: 12px;
	color: #fff;
}
.depth-gauge-0-400 {
	background-color: #77f;
}
.depth-gauge-400-800 {
	background-color: #44c;
}
.depth-gauge-800-1200 {
	background-color: #44c;
}
.depth-gauge-1200-1600 {
	background-color: #44c;
}
.depth-gauge-1600-1700 {
	flex: 100 0 0;
	background-color: #c33;
}
.depth-gauge-cur-depth {
	position: absolute;
	left: 8px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #0f0;
	width: 0;
	height: 0;
}
.depth-gauge-cur-depth:after {
	content: attr(data-depth) " ft";
	position: absolute;
	left: 10px;
	top: -6px;
	width: max-content;
	color: #0f0;
}
