.pane-center {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;
	gap: 40px;
}

.board-container {
	--board-gutter-width: 40px;
	position: relative;
	height: 500px;
	width: 500px;
	padding: var(--board-gutter-width);
}
.board {
	position: relative;
	height: 100%;
	opacity: 1;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	border-bottom: 1px dashed var(--board-color);
	border-right: 1px dashed var(--board-color);
}
.board-gutters {
	position: absolute;
	inset: var(--board-gutter-width);
}
.board-gutter {
	position: absolute;
	display: grid;
	user-select: none;
}
.board-gutter:nth-child(1) {
	inset: calc(-1 * var(--board-gutter-width)) 0 auto 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(2) {
	inset: 0 calc(-1 * var(--board-gutter-width)) 0 auto;
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter:nth-child(3) {
	inset: auto 0 calc(-1 * var(--board-gutter-width)) 0;
	height: var(--board-gutter-width);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
}
.board-gutter:nth-child(4) {
	inset: 0 auto 0 calc(-1 * var(--board-gutter-width));
	width: var(--board-gutter-width);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}
.board-gutter-label {
	margin: auto;
	font-size: 16px;
	color: #fff;
	user-select: none;
}
.board-cell {
	display: grid;
	place-items: center;
	color: var(--board-color);
	border-top: 1px dashed var(--board-color);
	border-left: 1px dashed var(--board-color);
	font-size: 0;
	user-select: none;
}
.board-marker-my-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px);
}
.board-marker-enemy-sub {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(-12px, 12px) rotate(45deg);
}

.depth-gauge-pane {
}
.depth-gauge {
	position: relative;
	height: 420px;
	width: 8px;
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 11px;
}
.depth-gauge-shallow {
	position: relative;
	flex: 400 0 0;
	background-color: #77f;
	opacity: 0.9;
}
.depth-gauge-shallow::after {
	content: 'SURF 0 ft';
	width: 35px;
	position: absolute;
	left: 11px;
	top: -2px;
}
.depth-gauge-deep {
	position: relative;
	flex: 1200 0 0;
	background-color: #44c;
	opacity: 0.9;
}
.depth-gauge-deep::after {
	content: 'THERMO 400 ft';
	width: 48px;
	position: absolute;
	left: 11px;
	top: -2px;
}
.depth-gauge-danger {
	position: relative;
	flex: 84 0 0;
	background-color: #c33;
	opacity: 0.9;
}
.depth-gauge-danger::after {
	content: 'MAX 1600 ft';
	width: 51px;
	position: absolute;
	left: 11px;
	top: -2px;
}
.depth-gauge-cur-depth {
	position: absolute;
	left: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #fff;
	width: 0;
	height: 0;
}
.depth-gauge-cur-depth:after {
	content: attr(data-depth);
	position: absolute;
	right: 9px;
	top: -6px;
}
