.pane-right {
	position: relative;
	display: grid;
	place-content: space-around;
}

.waterfall-pane {
	width: 362px;
	height: 182px;
	border: 1px solid #0f03;
}

.cnv-waterfall {
}

.info-pane {
	display: grid;
	grid-template-columns: auto 100px;
	gap: 4px;
}
.info-label {
	color: lime;
	padding: 4px 6px;
}
.info-data {
	background-color: #000;
	color: lime;
	padding: 4px 6px;
}
