@font-face {
	font-family: Play;
	font-style: normal;
	font-weight: 400;
	src: url('../font/play-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Play Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../font/play-bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../font/share-tech-mono-regular.woff2') format('woff2');
}
:root {
	--font-family--default: 'Play', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-family--code: 'Share Tech Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
	font-family: var(--font-family--code);
}
